// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.task-item {
  // action buttons
  button {
    width: 4rem;
  }

  // task item
  ion-item,
  ion-item-sliding {
    height: 6rem;
    background-color: #f0f0f0 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.list-md ion-item-options {
  border-bottom: none;
}

// center a component
.helper-text {
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
}
